
<div style="margin: 30px 80px 0 80px; text-align: justify;">
    <h5>1. CHÍNH SÁCH BÁN HÀNG TRỰC TUYẾN "ONLINE SHOPPING"</h5>

    <p>- Đối với quý khách xem đồng hồ trên website: www.donghotot.com.vn và đặt hàng qua Website, Email, Điện thoại có thể không hình dung được toàn bộ chi tiết của đồng hồ chọn mua, chúng tôi cam kết chuyển tới Quý khách đúng sản phẩm quý khách đã chọn, tuy nhiên có thể màu sắc của đồng hồ thực tế sẽ hơi khác so với hình ảnh trên Website vì là ảnh chụp.</p>

    <p>- Với quý khách ở các địa điểm khác ngoài nội thành Hà Nội. Chúng tôi chỉ giao đồng hồ tới Quý khách khi nhận được khoản tiền thanh toán đầy đủ bằng chuyển khoản đã được nhân viên của chúng tôi thông báo tới Quý khách. Chúng tôi giao hàng toàn quốc bằng dịch vụ Phát chuyển nhanh và miễn phí giao hàng.</p>

    <p>- Với Quý khách tại nội thành Hà Nội chúng tôi nhận giao hàng tại địa chỉ yêu cầu và thu tiền trực tiếp. Chi phí giao hàng hoàn toàn miễn phí.</p>

    <p>- Chúng tôi cam kết sẽ cung cấp tới Quý khách thông tin giá bán của sản phẩm chính xác nhất ở thời điểm giao dịch. Tuy nhiên, đôi lúc vẫn có sai sót xảy ra, ví dụ như trường hợp giá sản phẩm không hiển thị chính xác trên trang website hoặc giá niêm yết tại cửa hàng có chênh lệch so với giá bán thực tế của sản phẩm, tùy theo từng trường hợp chúng tôi sẽ thông báo sai sót này tới Quý khách. Quý khách có thể hủy đơn đặt hàng đó hoặc tiếp tục mua hàng với giá bán thực tế được nhân viên của chúng tôi thông báo.</p>

    <p>- Chúng tôi có quyền từ chối hoặc hủy đơn hàng của Quý khách vì bất kỳ lý do gì vào bất kỳ lúc nào. Chúng tôi có thể yêu cầu Quý khách cung cấp thêm hoặc xác nhận thông tin về số điện thoại người nhận hàng, địa chỉ giao hàng trước khi xác nhận đơn đặt hàng của Quý khách.</p>

    <h5>2. GIÁ BÁN NIÊM YẾT</h5>

    <p>- Giá bán của sản phẩm được niêm yết tại www.donghotot.com.vn là giá bán cuối cùng đã bao gồm thuế Giá trị gia tăng (VAT). Giá bán của sản phẩm có thể thay đổi tùy thời điểm và chương trình khuyến mãi kèm theo. Phí vận chuyển hoặc Phí thực hiện đơn hàng sẽ được áp dụng thêm nếu có, và sẽ được hiển thị rõ tại trang Thanh toán khi quý khách tiến hành đặt hàng.</p>

    <p>- Mặc dù chúng tôi cố gắng tốt nhất để bảo đảm rằng tất cả các thông tin và giá bán của sản phẩm hiển thị là chính xác đối với từng sản phẩm, đôi khi sẽ có một số trường hợp bị lỗi hoặc sai sót. Nếu chúng tôi phát hiện lỗi về giá của bất kỳ sản phẩm nào trong đơn hàng của quý khách, chúng tôi sẽ thông báo cho quý khách trong thời gian sớm nhất có thể và gửi đến quý khách lựa chọn để xác nhận lại đơn hàng với giá chính xác hoặc hủy đơn hàng. Nếu chúng tôi không thể liên lạc với quý khách, đơn hàng sẽ tự động hủy trên hệ thống và lệnh hoàn tiền sẽ được thực hiện (nếu đơn hàng đã được thanh toán trước).</p>

    <h5>3. THÔNG TIN SẢN PHẨM</h5>

    <p>- www.donghotot.com.vn cung cấp thông tin chi tiết đối với từng sản phẩm mà chúng tôi đăng tải, tuy nhiên chúng tôi không thể cam kết cung cấp thông tin đầy đủ một cách chính xác, toàn vẹn, cập nhật, và không sai sót đối với từng sản phẩm.</p>

    <p>- Màu sắc, kích cỡ, kiểu dáng của sản phẩm được đăng tải trên website có thể khác đôi chút so với sản phẩm thực tế bởi đấy là những hình vẽ hoặc chụp lại.</p>

    <p>- Trong trường hợp sản phẩm quý khách nhận được không đúng như những gì www.donghotot.com.vn đã mô tả trong phần thông tin sản phẩm, quý khách vui lòng thông tin đến Bộ phận bán hàng Online trong thời gian sớm nhất kể từ khi nhận hàng đồng thời đảm bảo sản phẩm trong tình trạng chưa qua sử dụng để được hỗ trợ đổi trả. Thông tin chi tiết về chính sách đổi trả vui lòng tham khảo tại mục Quy định đổi/trả sản phẩm dưới đây.</p>

    <h5> 4. CHÍNH SÁCH THANH TOÁN</h5>

    <p>Hệ thống cửa hàng ĐỒNG HỒ TỐT và www.donghotot.com.vn chấp nhận giao dịch thanh toán bằng các hình thức sau:</p>

    <p>- Tiền mặt "VNĐ"</p>
    <p>- Thanh toán khi nhận hàng COD "Cash On Delivery".</p>
    <p>- Thẻ ngân hàng ATM, VISA, MASTERCARD.
    <p></p>- Chuyển khoản qua ngân hàng hoặc Internet Banking.</p>

    <h5>5. CHÍNH SÁCH VỀ HÀNG GIẢ, HÀNG NHÁI, HÀNG KHÔNG ĐÚNG CHẤT LƯỢNG</h5>

    <p>- www.donghotot.com.vn chỉ cung cấp sản phẩm chính hãng và chất lượng dịch vụ tốt nhất cho khách hàng qua các sản phẩm được đăng bán trên trang web của chúng và từ chối bán các sản phẩm sản xuất trái phép, sao chép, hàng giả, hàng nhái, không rõ nguồn gốc xuất xứ...</p>

    <p>- Trong trường hợp quý khách có nghi ngờ sản phẩm sản xuất trái phép, sao chép, hàng giả, hàng nhái, không rõ nguồn gốc xuất xứ..., vui lòng thông báo ngay cho chúng tôi bằng cách liên hệ với Bộ phận bán hàng Online để được xác thực thông tin và hỗ trợ.</p>

    <h5>6. QUI ĐỊNH ĐỔI/TRẢ SẢN PHẨM</h5>

    <p>- Tất cả đồng hồ đã mua đều không được đổi/trả lại, sau khi bán hàng chúng tôi sẽ áp dụng chính sách bảo hành kèm theo của đồng hồ với cam kết hỗ trợ tốt nhất tới Quý khách, đảm bảo mọi quyền lợi của Quý khách được thực hiện đầy đủ. Mọi sản phẩm phải tuân thủ theo điều kiện bảo hành theo qui định bảo hành của mỗi hãng đồng hồ.</p>

    <p>- Tùy vào tình trạng thực tế của đồng hồ sau khi bán, chúng tôi sẽ áp dụng các hỗ trợ ngay lập tức nằm ngoài qui định bảo hành của các hãng đồng hồ. Tuy nhiên các hỗ trợ này không vượt quá quyền hạn và khả năng của chúng tôi.</p>

    <h5>7. NHỮNG QUI ĐỊNH KHÁC</h5>

    <p>- Tất cả các Điều Khoản và Điều Kiện (và tất cả nghĩa vụ phát sinh ngoài Điều khoản và Điều kiện này hoặc có liên quan) sẽ bị chi phối và được hiểu theo luật pháp Việt Nam. Chúng tôi có quyền sửa đổi các Điều khoản và Điều kiện này vào bất kỳ thời điểm nào và các sửa đổi đó sẽ có hiệu lực ngay tại thời điểm được được đăng tải tại www.donghotot.com.vn</p>

    <p>Trước khi quyết định mua hàng, Quý khách đảm bảo đã hiểu rõ và đồng ý với những quy định trên.</p>

    <h5 style="text-align:right;">HỆ THỐNG BÁN HÀNG "ONLINE SHOPPING"</h5>
</div>

