<footer class="footer mt-auto py-3">
    <hr />
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-6">
                        <a class="btn btn-primary" href="~/File/Download?fileName=baogia.txt">Download Bao gia</a><br />
                    </div>
                    <div class="col-md-6">
                        <a class="btn btn-primary" href="~/File/Download?fileName=bảng báo giá.docx">Download bảng báo giá</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-6">
                        @Html.RouteLink("Chinh Sach", "page.chinh-sach", null, new { @class = "nav-link" })
                    </div>
                    <div class="col-md-6">
                        @Html.RouteLink("Dieu khoan", "page.dieu-khoan", null, new { @class = "nav-link" })
                    </div>
                </div>

            </div>
        </div>


    </div>
    <hr />
    <div class="container">
        <span>Bản quyền © bởi <a href="https://nentang.vn">Nền Tảng</a> - 2019.</span>
        <span class="text-muted">Hành trang tới Tương lai</span>

        <p class="float-right">
            <a href="#">Về đầu trang</a>
        </p>
    </div>


</footer>
