<div class="row">
    <div class="col-md-6 margin-bottom-40">
        <h3 style="font-size: 26px;">You've got <strong>questions?</strong></h3>
        <h3>We've got the <strong>answers!</strong></h3>
        <!--
        <div class="phone-number margin-top-10">
            <i class="fa fa-phone"></i>
            <p>+49 (0) 231 5335-0</p>
        </div>
        -->
    </div>
    <div class="col-md-6">
        <div class="margin-bottom-40">

            <form action="/en/net/" method="post" novalidate="novalidate">
                <fieldset>

                    <legend class="hide"></legend>


                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-fw fa-lg fa-user"></i></span>
                            <input type="text" class="form-control input-lg" placeholder="Name, Firstname, Company" id="LastName" name="LastName" value="">
                        </div>
                        <span class="text-danger field-validation-valid" data-valmsg-for="LastName" data-valmsg-replace="true"></span>
                    </div>

                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-fw fa-lg fa-envelope"></i></span>
                            <input type="text" class="form-control input-lg" placeholder="Email-Address" data-val="true" data-val-required="The Email field is required." id="Email" name="Email" value="">
                        </div>
                        <span class="text-danger field-validation-valid" data-valmsg-for="Email" data-valmsg-replace="true"></span>
                    </div>

                    <div class="form-group hide">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-fw fa-lg fa-envelope"></i></span>
                            <input type="text" class="form-control input-lg" placeholder="HoneyText" id="HoneyText" name="HoneyText" value="">
                        </div>
                        <span class="text-danger"></span>
                    </div>


                    <div class="form-group">
                        <textarea class="form-control input-lg" rows="7" placeholder="Your inquery" data-val="true" data-val-required="The your message field is required." id="Message" name="Message"></textarea>
                        <span class="text-danger field-validation-valid" data-valmsg-for="Message" data-valmsg-replace="true"></span>
                    </div>

                    <div class="control-group">
                        <div class="controls">
                            <button id="contact-submit" type="submit" name="send-email" class="btn btn-default btn-lg">
                                <i class="fa fa-fw fa-mail-forward"></i>
                                Submit
                            </button>
                        </div>
                    </div>

                </fieldset>
                <input name="__RequestVerificationToken" type="hidden" value="CfDJ8Hy8qP2coplIiYEi-J8jBoipW53EPgel4MwGoSUBwCU4DbmhnSJ_DG9luj4EqusuOqjjTD61MUnO-sBuZXZ9kBev_ksPSo2FzygOHOWZWKkgq9Rv-2yBkbwcgd3zj27LQoZDEKhQN-gMq7d59_bmA3I">
            </form>
        </div>
    </div>
</div>

<footer>
    <div class="footer">
        <hr />
        <div class="container">

            <div class="row">

                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 margin-top-10 sm-margin-bottom-40">
                    <a href="http://www.smartstore.com" title="Onlineshop Systems for Professionals and Beginners">
                        <img class="img-responsive" src="/Themes/SmartStoreHP/Content/images/Smartstore_NET_Logo_RGB_V2.png">
                    </a>
                    <p class="margin-top-10">
                        SmartStore.NET is a product of SmartStore AG
                    </p>
                    
                </div>

                <div class="col-lg-3 col-md-3 col-sm-6 sm-margin-bottom-40">
                    <div class="headline">
                        <h2 class="heading-sm">Links</h2>
                    </div>
                    <ul class="list-unstyled link-list">
                        <li>
                            <a href="https://nentang.vn">Nentang.vn</a>
                            <i class="fa fa-angle-right"></i>
                        </li>
                        <li>
                            <a href="http://hotro.nentang.vn/projects/learning-asp-net-web-thuong-mai-dien-tu" target="_blank">Du an</a>
                            <i class="fa fa-angle-right"></i>
                        </li>
                        <li>
                            <a href="https://github.com/yuppaoh/ASP-NET" target="_blank">Github</a>
                            <i class="fa fa-angle-right"></i>
                        </li>
                        <li>
                            <a href="http://community.smartstore.com/index.php?/forum/85-smartstorenet-english/&amp;k=880ea6a14ea49e853634fbdc5015a024&amp;setlanguage=1&amp;cal_id=&amp;langid=1" target="_blank">Community</a>
                            <i class="fa fa-angle-right"></i>
                        </li>
                        <li>
                            <a href="https://github.com/smartstore/SmartStoreNET" target="_blank">GitHub</a>
                            <i class="fa fa-angle-right"></i>
                        </li>
                    </ul>
                </div>

                <div class="clearfix visible-sm-block"></div>

                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 sm-margin-bottom-40">
                    <div class="headline">
                        <h2 class="heading-sm">Imprint</h2>
                    </div>
                    <address class="md-margin-bottom-40" style="font-size: 12px">
                        <strong>Director of Board:</strong><br> Pavlos Tsulfaidis<br>
                        <strong>Supervisory Board:</strong> Murat Cakir<br>
                        <strong>Registration Court:</strong> District Court Dortmund<br>
                        <strong>Register Number:</strong> HRB 14105<br>
                        <strong>VAT ID number:</strong><br> DE 812887094<br>
                    </address>
                </div>

                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="headline">
                        <h2 class="heading-sm">Contact</h2>
                    </div>
                    <address class="md-margin-bottom-40">
                        <i class="fa fa-home"></i>Kaiserstr. 63-65, 44135 Dortmund<br>
                        <i class="fa fa-phone"></i>Fon: +49 (0) 231.5335-0<br>
                        <i class="fa fa-fax"></i>Fax: +49 (0) 231.5335-101<br>
                        <i class="fa fa-globe"></i>Website: <a href="http://www.smartstore.com" title="E-Commerce Solutions for Professionals and Beginners">www.smartstore.com</a><br>
                        <i class="fa fa-envelope"></i>Email: <a href="mailto:info@smartstore.com">info@smartstore.com</a>
                    </address>
                </div>
            </div>
        </div>
    </div>

    <div class="copyright fsize13">
        <div class="container">
            <p class="text-center">Copyright © 2017 SmartStore AG. All rights reserved.</p>
        </div>
    </div>
</footer>